.index-banner{
    position: relative;
    background:#b3b3b3;
}

.index-banner-bg{
    height: 570px;
    overflow: hidden;
}

/* 防止缩小图片变得不居中 */
.index-banner-bg img{
    margin:0 auto;
}

.index-banner-text{
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top:200px;
    margin-left: -388px;
}


.index-banner-text .text-logo{
    width: 776px;
    height: 117px;
    background: url(../images/text-logo.png) no-repeat;
}

.index-banner-text .text-info{
    color: #fff;
    margin-top: 17px;
    text-align: center;
}

.index-banner-text .text-info .line{
    display: inline-block;
    border-top: 1px solid #fff;
    width: 40px;
    vertical-align: middle;
}

/* ---------------------------------------------- */
.index-menu{
    position: relative;
    border-top: 4px solid #f34949;
}
.index-menu .menu-tips{
    position:absolute;
    left: 50%;
    top: 0;
    margin-left: -78px;
    width: 156px;
    height: 75px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    background: #f34949;
}
.index-menu .menu-tips:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width:0;
    height: 0;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    border-bottom: 10px solid #fff;

}

.index-menu .menu-list{
    /* border: 1px solid red; */
    margin-top: 150px;
    /* height: 118px; */
    overflow: hidden;
    margin-bottom:36px;
}
.index-menu .menu-list ul{
    width: 1160px;
}

.index-menu .menu-list a{
    color: #555;
}

.index-menu .menu-item{
        /* border:1px solid green; */
        float:left;
        width:520px;
        margin-right:60px;
        margin-bottom:56px;
    
}

.index-menu .menu-item .title,.index-menu .menu-item .line{
    float: left;
}

.index-menu .menu-item .price{
    float: right;
}

.index-menu .menu-item .line{
    margin-top: 10px;
    width: 194px;
    border-top: 1px solid #e3e1e1;
}
.index-menu .menu-item .content{
    color: #b7b7b7;
    font-size: 12px;
    margin-top: 4px;
}

.index-menu .menu-more-btn{
    color: #b7b7b7;
    width:114px;
    height:32px;
    line-height: 34px;
    border:1px solid #d7d5d5;
    margin: 0 auto;
    font-size:14px;
    padding-left: 16px;
}

.index-menu .menu-more-btn .icon{
    display: inline-block;
    background: url(../images/menu-more-btn.png);
    width:11px;
    height:7px;
    margin-left:10px;
}


.index-panel{
    margin-top: 200px;
}
.index-panel-header{
    height: 20px;
}
.index-panel-header h3{
    float: left;
    color:#3b3b3b;
    font-size:20px;
    margin-right:48px;
}
.index-panel-header .line{
    float: left;
    width: 200px;
    margin-top:15px;
    border-top: 1px solid #e5e3e3;
}

.index-panel-header .btn-group{
    font-size: 0px;
    float:right;
}

.index-panel-header .btn{
    display: inline-block;
    margin-left:11px;
    width:9px;
    height:9px;
    background:#dedede;
    border-radius:50%;
}

.index-panel-header .active{
    background:#9b9b9b;
}

.index-panel-body{
    margin-top: 75px;
}

.index-food-list ul{
    width: 1160px;
}
.index-food-list .food-item{
    float: left;
    width: 230px;
    height: 268px;
    margin-right: 60px;
}

.index-food-list .food-item .name{
    color: #555;
    margin-top: 10px;
}
.index-food-list .food-item .price{
    float: right;
}

.index-food-list .food-item .star-bar{
    font-size:0;
}

.index-food-list .food-item .star{
    display:inline-block;
    width: 12px;
    height: 13px;
    margin-right:5px;
    background:url(../images/index-star.png) no-repeat;
}

.index-food-list .food-item .nostar{
    background-position:0 -13px;
}

.index-pics{
    height:380px;
    overflow:hidden;
    margin-bottom:200px;
}

.index-pics .pic-col{
    float: left;
}

.index-pics .pic-col-m{
    width:353px;
}

.index-pics .pic-col-s{
    width:287px;
}

.index-pics .pic-col-l{
    width:460px;
}